.intro {
    box-sizing: border-box;
    flex-direction: column; 
    place-content: center;   
    inset: 0; 
    z-index: 2;
    cursor: n-resize;  
    position: fixed;
    text-shadow: 0 0 1.25em rgba(#000, .2); 

    &__inner { 
        width: 55em; 
        max-width: 75%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 8vw; 
        display: flex;
        flex-direction: column;

        @media (orientation: portrait) {  
            padding-bottom: max(env(safe-area-inset-bottom), 5vh);
            max-width: none;
            width: auto; 
        }
    }

    &__title {
        font-size: 4em; 
        line-height: 1.25; 
        letter-spacing: .025em;
        text-transform: uppercase; 
        margin-bottom: 1em; 
        font-weight: 350;
        border-bottom: 3px solid rgba(#fff, .8);
        padding-bottom: .5em; 

        br:last-of-type {
            display: none;
        }
         
        @media (orientation: portrait) { 
            margin-top: auto; 
            margin-left: auto;
            margin-right: auto; 
            font-size: 10vh; 
            writing-mode: vertical-rl;
            text-orientation: sideways;
            rotate: -180deg;    
            border-top: .25em solid white;
            border-bottom: none;
            padding-top: .4em;   
            padding-bottom: 0;

            br:last-of-type {
                display: block;
            }
        } 
    }

    &__stage { 
        left: 50%;   
        font-size: 1.5em;
        letter-spacing: .025em;
        align-items: center; 
        display: flex;   
        line-height: 1; 
        place-content: center;  
            
        @media (max-width: 700px) { 
            font-size: 1.25em;
        }

        strong {
            flex: 1 1; 
            display: block;
            text-align: center;  
            transition: all .15s; 
            letter-spacing: .025em;
            cursor: pointer;
            
            &:hover {
                font-weight: 500;
            }
        }

        button {
            padding: 2rem;  
            box-sizing: border-box; 
            margin: -1.85rem; 
            flex: 0 0; 
            --offset: 0;

            &:first-child {
                --offset: -.125em;
            }
            
            &:last-child {
                --offset: .125em;
            }

            svg {
                transition: all .25s;  
                width: 1.45em;
            }

            &:hover svg { 
                translate: var(--offset) 0;
            }
        }
    }
}   